main .presentacion {
  width: 40%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 28%; }
  main .presentacion h1 {
    font-size: 3em;
    color: #14213d; }
  main .presentacion span {
    color: #14213d;
    font-size: 1.3em; }

main .container-fluid {
  background-color: #ede9f0; }
  main .container-fluid .description {
    width: 80%;
    margin: auto !important; }
    main .container-fluid .description .blue {
      color: #14213d;
      padding-top: 2em;
      padding-bottom: 2em; }
  main .container-fluid .vivencias {
    width: 100%;
    display: grid;
    justify-content: center;
    padding-bottom: 2.5em; }
    main .container-fluid .vivencias .title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #bb4d32;
      margin-top: 2em;
      margin-bottom: 2em; }
    main .container-fluid .vivencias .imgs {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 2em; }
      main .container-fluid .vivencias .imgs .img {
        position: relative; }
        main .container-fluid .vivencias .imgs .img img {
          height: 100%;
          transition: all 400ms ease-out; }
        main .container-fluid .vivencias .imgs .img .ver {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 103, 123, 0.4);
          opacity: 0;
          text-align: center;
          transition: all 500ms ease-out;
          padding: 30%; }
          main .container-fluid .vivencias .imgs .img .ver a {
            color: #fff;
            text-align: center;
            text-decoration: none; }
        main .container-fluid .vivencias .imgs .img .dos {
          display: none; }
        main .container-fluid .vivencias .imgs .img .ver:hover {
          opacity: 1; }

main .fotos {
  padding-top: 5em; }
  main .fotos .container-fluid {
    background-color: #fff;
    align-items: center; }
    main .fotos .container-fluid .parrafoImg {
      padding: 2em;
      color: #000;
      align-self: center; }
    main .fotos .container-fluid .piscina {
      margin-top: 3em;
      flex-direction: row-reverse; }

main .container {
  margin-top: 6em; }
  main .container .tit-prom {
    font-size: 2em;
    color: #14213d;
    margin-bottom: 1.5em; }
  main .container .p-prom {
    font-size: 1.5em; }
  main .container .bg-naranja {
    background-color: #f1d296; }

footer {
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  background-color: #000;
  justify-content: space-between; }
  footer .col-img {
    display: flex;
    width: 30%;
    align-self: start; }
    footer .col-img img {
      width: 30%;
      margin-left: 10%; }
    footer .col-img ul a {
      color: #fff;
      text-decoration: none; }
    footer .col-img ul a:hover {
      color: #55656b; }
  footer .col {
    width: 30%; }
    footer .col ul li {
      list-style: none;
      color: #fff; }
  footer .redes {
    display: flex; }
    footer .redes li {
      list-style: none;
      padding: 1em; }
      footer .redes li a {
        color: #fff;
        text-decoration: none;
        font-size: 1em; }
      footer .redes li a:hover {
        color: #55656b; }
  footer .col-terms {
    align-self: start; }
    footer .col-terms li {
      list-style: none; }
      footer .col-terms li a {
        text-decoration: none;
        color: #fff; }
      footer .col-terms li a:hover {
        color: #55656b; }

.masajes {
  background-image: url(../media/servicios/toalla_velas.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .masajes .descripcion-masajes {
    width: 50%; }
    .masajes .descripcion-masajes .h2 {
      color: #bb4d32;
      padding-top: 2em;
      padding-bottom: 2em;
      margin: 0 1em; }
    .masajes .descripcion-masajes .h3 {
      color: #bb4d32;
      padding-top: 1em;
      padding-bottom: 1em; }
    .masajes .descripcion-masajes p {
      margin: 2em;
      line-height: 1.5em;
      font-size: 1em;
      color: #FF890A;
      line-height: 3em; }
    .masajes .descripcion-masajes .title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #bb4d32;
      margin-top: 2em;
      margin-bottom: 2em; }
      .masajes .descripcion-masajes .title i {
        color: #bb4d32; }

.spa {
  background-image: url(../media/servicios/terapia_facial.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: right;
  text-align: center; }
  .spa .descripcion-spa {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .spa .descripcion-spa .title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #bb4d32;
      margin-top: 2em;
      margin-bottom: 2em; }
      .spa .descripcion-spa .title .h2 {
        color: #bb4d32;
        margin: 0 1em;
        padding-top: 2em;
        padding-bottom: 2em; }
      .spa .descripcion-spa .title i {
        color: #bb4d32; }
    .spa .descripcion-spa .h3 {
      color: #bb4d32;
      padding-top: 1em;
      padding-bottom: 1em; }
    .spa .descripcion-spa p {
      margin: 2em;
      line-height: 1.5em;
      font-size: 1em;
      color: #FF890A;
      line-height: 3em; }

.cabalgatas {
  background-image: url(../media/servicios/mujer-agachada-acariciando-caballo.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  .cabalgatas .descripcion-cabalgatas {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .cabalgatas .descripcion-cabalgatas .title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #bb4d32;
      margin-top: 2em;
      margin-bottom: 2em; }
      .cabalgatas .descripcion-cabalgatas .title h2 {
        color: #bb4d32;
        margin: 0 1em;
        padding-top: 2em;
        padding-bottom: 2em; }
      .cabalgatas .descripcion-cabalgatas .title i {
        color: #bb4d32; }
    .cabalgatas .descripcion-cabalgatas .h3 {
      color: #bb4d32;
      padding-top: 1em;
      padding-bottom: 1em;
      margin: auto; }
    .cabalgatas .descripcion-cabalgatas p {
      margin: 2em;
      line-height: 1.5em;
      font-size: 1em;
      color: #FF890A;
      line-height: 3em; }

.container-lg {
  background-color: #ede9f0;
  text-align: center; }
  .container-lg .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bb4d32;
    margin-top: 2em;
    margin-bottom: 2em; }
    .container-lg .title .h2 {
      color: #bb4d32;
      padding-top: 2em;
      padding-bottom: 2em;
      margin: 0 1em; }
  .container-lg .galeria .galeria-playa {
    display: flex;
    justify-content: space-evenly;
    margin: auto; }
    .container-lg .galeria .galeria-playa .img-gal, .container-lg .galeria .galeria-playa .hor .img-gal-hor {
      width: 30%;
      border: 2px solid #bb4d32;
      overflow: hidden;
      margin: 1.5em; }
      .container-lg .galeria .galeria-playa .img-gal img, .container-lg .galeria .galeria-playa .hor .img-gal-hor img {
        width: 100%;
        height: 100%;
        transition: all ease 500ms; }
      .container-lg .galeria .galeria-playa .img-gal img:hover, .container-lg .galeria .galeria-playa .hor .img-gal-hor img:hover {
        transform: scale(1.3); }
    .container-lg .galeria .galeria-playa .hor {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .container-lg .galeria .galeria-playa .hor .img-gal-hor {
        width: 100%;
        height: fit-content; }
  .container-lg .galeria .galeria-entorno .img-gal-hor {
    width: 70%;
    margin: auto;
    border: 2px solid #bb4d32;
    overflow: hidden; }
    .container-lg .galeria .galeria-entorno .img-gal-hor img {
      width: 100%;
      height: 100%;
      transition: all ease 500ms; }
    .container-lg .galeria .galeria-entorno .img-gal-hor img:hover {
      transform: scale(1.3); }
  .container-lg .galeria .resto {
    display: flex; }
    .container-lg .galeria .resto .img-gal, .container-lg .galeria .resto .galeria-playa .hor .img-gal-hor, .container-lg .galeria .galeria-playa .hor .resto .img-gal-hor {
      width: 30%;
      border: 2px solid #bb4d32;
      overflow: hidden;
      margin: 1.5em; }
      .container-lg .galeria .resto .img-gal img, .container-lg .galeria .resto .galeria-playa .hor .img-gal-hor img, .container-lg .galeria .galeria-playa .hor .resto .img-gal-hor img {
        width: 100%;
        height: 100%;
        transition: all ease 500ms; }
      .container-lg .galeria .resto .img-gal img:hover, .container-lg .galeria .resto .galeria-playa .hor .img-gal-hor img:hover, .container-lg .galeria .galeria-playa .hor .resto .img-gal-hor img:hover {
        transform: scale(1.3); }

.container .terraza {
  display: flex;
  width: 85%;
  margin: auto; }
  .container .terraza .texto {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .container .terraza .texto .title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #bb4d32;
      margin-top: 2em;
      margin-bottom: 2em;
      width: 100%; }
      .container .terraza .texto .title .h3 {
        margin: 2em;
        color: #14213d; }
    .container .terraza .texto p {
      margin: 2em;
      line-height: 1.5em;
      font-size: 1em;
      color: #FF890A;
      line-height: 3em;
      width: 100%;
      padding: 2em;
      margin: 0 auto; }
  .container .terraza .image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 50%; }
    .container .terraza .image img {
      height: 80%;
      vertical-align: middle;
      width: 80%;
      margin-top: 20%; }

.container .carta {
  background-color: rgba(255, 166, 0, 0.274);
  padding-left: 2em;
  padding-right: 2em; }
  .container .carta .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bb4d32;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #14213d; }
    .container .carta .title .h3 {
      padding-left: 2em;
      padding-right: 2em; }
    .container .carta .title .line {
      color: #14213d; }
  .container .carta .carnes .pescado {
    justify-self: right; }
  .container .carta span {
    color: #bb4d32; }

@media (max-width: 640px) {
  .navbar-brand {
    margin: auto; }
  .nav-item {
    padding-right: 0 !important; }
  .dropdown-menu .dropdown-item {
    text-align: center; }
  main .presentacion {
    position: relative; }
    main .presentacion h1, main .presentacion span {
      color: #bb4d32; }
    main .presentacion h1 {
      font-size: 1.5rem; }
    main .presentacion span {
      font-size: 0.8rem !important; }
  main .vivencias .imgs {
    flex-direction: column; }
    main .vivencias .imgs .img {
      width: 100%;
      margin-bottom: 2em !important;
      margin: auto; }
      main .vivencias .imgs .img .ver {
        display: contents;
        color: #000;
        margin: 1em 0 2em 0; }
        main .vivencias .imgs .img .ver a {
          display: none; }
    main .vivencias .imgs .dos {
      display: inline-block !important;
      text-decoration: none;
      color: #000; }
    main .vivencias .imgs .dos:hover {
      color: #575555; }
  main .promociones .p-prom {
    font-size: 1rem !important; }
  footer .footer {
    display: flex;
    flex-direction: column; }
    footer .footer .col {
      width: 100%;
      flex-direction: column;
      text-align: center; }
      footer .footer .col .logotipo {
        width: 100%;
        text-align: center; }
        footer .footer .col .logotipo img {
          margin: auto; }
      footer .footer .col .lista {
        text-align: center; }
        footer .footer .col .lista ul {
          padding: 0;
          margin-top: 1em; }
      footer .footer .col .redes {
        justify-content: center;
        padding: 0; }
      footer .footer .col ul {
        padding: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem; }

header .logo {
  width: 50%; }

header .nav-item {
  padding-right: 2rem; }
