@import "colores";
$margin: 2em;


@media (max-width: 640px) {
    .navbar-brand {
        margin: auto;
    }
    .nav-item {
        padding-right: 0!important;
    }
    .dropdown-menu {
        .dropdown-item {
            text-align: center;
        }
    }
    main {
        .presentacion {
            position: relative;
            
            h1, span {
                color: $rojo;
                
            }
            h1 {
                font-size: 1.5rem;
            }       
            span {
                
                font-size: 0.8rem !important;
            }

        }
        .vivencias {
            .imgs {
                flex-direction: column;
                
                
                .img {
                    width: 100%;
                    margin-bottom: $margin !important;
                    margin: auto;
                    .ver {
                        display: contents;
                        color: $negro;
                        margin: 1em 0 2em 0;
                        a {
                           display: none;
                        }
                    }
                }
                    .dos {
                        display: inline-block!important;
                        text-decoration: none;
                        color: #000;
                        }
                        .dos:hover {
                            color: rgb(87, 85, 85);
                        }
               
            }
        }
        .promociones {
           .p-prom {
               font-size: 1rem!important;
           } 
        }
    }
    footer {
        .footer {
        display: flex;
        flex-direction: column;
        .col {
            width: 100%;
            flex-direction: column;
            text-align: center;
            .logotipo {
                width: 100%;
                text-align: center;
                img {
                    margin: auto;
                };
            }
            .lista {
                text-align: center;
                ul {
                    padding: 0;
                    margin-top: 1em;
                }
            }  
            .redes {
                justify-content: center;
                padding: 0;
            } 
            ul {
                padding: 0;
            }
        }
        }
    }   
}
