@import "mixins";

.masajes {
    background-image: url(../media/servicios/toalla_velas.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .descripcion-masajes {
        width: 50%;
        .h2 {
            color: $rojo;
            padding-top: $margin;
            padding-bottom: $margin;
            margin: 0 1em;
        }
        .h3 {
            @include h3;
        }    
        p {
           @include parrafo;
        }
        .title {
            @include titulo;
            i {
                color: $rojo;
            }
            
        }
    }
}
.spa {
    background-image: url(../media/servicios/terapia_facial.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: right;
    text-align: center;
    .descripcion-spa{
        width: 50%;
        display: flex;
        flex-direction: column;
    
    .title {
        @include titulo;
        .h2 {
            color: $rojo;
            margin: 0 1em;
            padding-top: $margin;
            padding-bottom: $margin;
        }
        i {
            color: $rojo;
        }
     }
     .h3 {
       @include h3;
    }    
    p {
       @include parrafo;
    }


  }
}
.cabalgatas {
    background-image: url(../media/servicios/mujer-agachada-acariciando-caballo.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    .descripcion-cabalgatas {
        display: flex;
        flex-direction: column;
        width: 50%;
    .title {
        @include titulo;
        h2 {
            color: $rojo;
            margin: 0 1em;
            padding-top: $margin;
            padding-bottom: $margin;
        }
        i {
            color: $rojo;
        }
    }
    
    .h3 {
        @include h3;
        margin: auto;
    }
    p {
        @include parrafo;
        }
    }
}  
        
    
    